[submodule "NumCpp"]
	path = NumCpp
	url = https://github.com/dpilger26/NumCpp.git


[submodule "BOOST_system"]
	path = BOOST/libs/system
	url = https://github.com/boostorg/system.git
	active = true
[submodule "BOOST_math"]
	path = BOOST/libs/match
	url = https://github.com/boostorg/math.git
	active = true
